<ion-view="login">
  <ion-content class="logo-bkg">
    <div class="card card-login round-border">
        <div class="row">
          <div class="col col-center">
          <form name="$ctrl.loginForm" ng-submit="$ctrl.login()">
            <div class="list">

              <label class="item item-input">
                <span class="input-label">Username</span>
                <input type="text" ng-model="$ctrl.login.username" placeholder="Enter Username" required>
              </label>

              <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password" ng-model="$ctrl.login.password" placeholder="Enter Password" required>
              </label>

              <label class="item">
                <button class="button button-block" name="Login" style="background:#e37222; color:white;">Login</button>
              </label>
            </div>
          </form>
          <a href="#/register">Create Account</a>
          </div>
        </div>
    </div>
  </ion-content>
</ion-view>
