<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Home Tab -->
  <ion-tab title="Home" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" ui-sref="app.dashboard">
    <ion-nav-view name="tab-dashboard"></ion-nav-view>
  </ion-tab>

  <!-- My Games Tab -->
  <ion-tab title="My Games" icon-off="ion-map" icon-on="ion-map" ui-sref="app.games">
    <ion-nav-view name="tab-mygames"></ion-nav-view>
  </ion-tab>

  <!-- Create Games Tab -->
  <ion-tab title="Create" icon-off="ion-plus-circled" icon-on="ion-plus-circled" ui-sref="app.create">
    <ion-nav-view name="tab-create"></ion-nav-view>
  </ion-tab>

  <!-- Invites Tab -->
  <ion-tab title="Invites" icon-off="ion-ios-email-outline" icon-on="ion-ios-email" ui-sref="app.invites">
    <ion-nav-view name="tab-invites"></ion-nav-view>
  </ion-tab>


</ion-tabs>
