/* Empty. Add your own CSS if you like */

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

.verticalLine {
  border-left: thin solid lightgrey;
}

.noborder {
  border: none;
}

.alignmarginright {
  float: right;
  margin-right: 15px;
}

.center-div {
  margin: 0 auto;
}

.card-bkg {
  background-image: url("https://s-media-cache-ak0.pinimg.com/236x/d4/84/a4/d484a45d3be371e3c24bae86b7f99002.jpg?noindex=1");
  background-size: cover;
}

.card-login {
  margin-top: 186px;
}
