/* Empty. Add your own CSS if you like */

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

.verticalLine {
  border-left: thin solid lightgrey;
}

.noborder {
  border: none;
}

.alignmarginright {
  float: right;
  margin-right: 15px;
}

.center-div {
  margin: 0 auto;
}
