/* Empty. Add your own CSS if you like */

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

.verticalLine {
  border-left: thin solid lightgrey;
}

.noborder {
  border: none;
}

.alignmarginright {
  float: right;
  margin-right: 15px;
}

.center-div {
  margin: 0 auto;
}

.logo-bkg {
  background-image: url("../img/artemis-bkg.png");
  background-size: cover;
}

.fullmap-bkg {
  background-image: url("../img/fullmap-bkg.png");
  background-size: cover;
}

.partialmap-bkg {
  background-image: url("../img/partialmap-bkg.png");
  background-size: cover;
}

.partialmap2-bkg {
  background-image: url("../img/partialmap2-bkg.png");
  background-size: cover;
}

.partialmap3-bkg {
  background-image: url("../img/partialmap3-bkg.png");
  background-size: cover;
}

.partialmap4-bkg {
  background-image: url("../img/partialmap4-bkg.png");
  background-size: cover;
}

.card-login {
  margin-top: 186px;
}

.card-register {
  margin-top: 135px;
}

a {
  color: #ab4400;
}

i,.icon {
  color: #c25e00;
}

.tab-title {
  color: #ab4400;
}

.active {
  border-color: #ac1900;
}

.teal-bkg {
  background-color: #63b4ba;
}

.cardheader-bkg {
  background-color: #ffd18e;
  border-color: #ab4400;
}

.cardbody-bkg {
  background-color: #eacd9e;
  border-color: #ab4400;
}

b, span, p.item {
  color: black !important;
}

.large-card {
  font-size: 26px;
}
